.DashboardHeader {
	background-color: #BAEBE1;
	height: 120px;

	.MainLayout__fluid-layout {
		display: flex;
		flex-direction: row;

		height: 100%;
	}

	&__section {
		display: flex;
		flex-direction: row;
		align-items: center;

		margin-right: 32px;

		height: 100%;

		.fa {
			color: #1ABC9C;
			width: 46px;
			height: 100%;

			padding-right: 12px;
		}
	}

	&__text {
		height: 46px;

		p, h3 {
			margin: 2px;
		}
	}
}
